.container {

    display: flex;
    flex-direction: row;

    color: black;
    padding: 10px;

    margin-bottom: 20px;
    border-radius: 10px;

    img {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }


}

.containerColorOn {
    background-color: var(--Very-light-grayish-blue);
}

.containerColorOff {
    background-color: transparent;
}

.containerRight {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-left: 10px;

}

.containerRight2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    img {
        margin-left: 20px;

    }
}

.containerMain2 {

    display: flex;
    flex-direction: column;


}

.containerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    span {
        font-size: 0.8rem;
    }

}

.iconRedOn {
    background-color: var(--Red);
    width: 7px;
    height: 7px;
    border-radius: 5px;
}

.iconRedOff {
    display: none;
}

.Link {
    font-size: 1rem;
    font-weight: bold;
}

.Link:hover {
    color: var(--Blue);
}

.containerDate {
    margin-top: 6px;

    label {
        font-size: 0.8rem;
    }
}

.containerMessage {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--Light-grayish-blue-2);

}